// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds clear-defaults=true {
    tmux {
        bind "[" { SwitchToMode "Scroll"; }

        // Leave tmux mode
        bind "Ctrl b" { Write 2; SwitchToMode "Normal"; }

        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }

        // Tab creation
        bind "c" { NewTab; SwitchToMode "Normal"; }

        // Session manager
        bind "s" "$" ":" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }

        // Splitting panes
        bind "|" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "-" { NewPane "Down"; SwitchToMode "Normal"; }

        // Moving between tabs
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        // Renaming tabs
        bind "," { SwitchToMode "RenameTab"; TabNameInput 0; }

        // Moving between panes
        bind "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "Up" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        // Renaming panes
        bind "." { SwitchToMode "RenamePane"; PaneNameInput 0; }
        // Resizing panes
        bind "H" { Resize "Increase Left"; }
        bind "L" { Resize "Increase Right"; }
        bind "K" { Resize "Increase Up"; }
        bind "J" { Resize "Increase Down"; }

        bind "d" { Detach; }

        bind "Space" { NextSwapLayout; }

        bind "x" { CloseFocus; SwitchToMode "Normal"; }
    }
    scroll {
        bind "Ctrl r" { SwitchToMode "EnterSearch"; SearchInput 0; }

        // Navigation
        bind "j" "Down" { ScrollDown; }
        bind "PageDown" "J" { PageScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "PageUp" "K" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }

        bind "Esc" { SwitchToMode "Normal"; }

        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }
    entersearch {
        bind "Esc" { ScrollToBottom; SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    search {
        bind "Esc" { ScrollToBottom; SwitchToMode "Scroll"; }

        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }

        bind "n" { Search "down"; }
        bind "p" { Search "up"; }

        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    session {
        bind "Ctrl o" { SwitchToMode "Normal"; }
    }
    renametab {
        bind "Ctrl b" { SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Normal"; }
    }
    renamepane {
        bind "Enter" { SwitchToMode "Normal"; }
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }
    shared_except "tmux" "locked" {
        // Enter tmux mode
        bind "Ctrl b" { SwitchToMode "Tmux"; }
    }
}

on_force_close "quit"


themes {
    sobrio {
        fg "#5f5f5f"
        bg "#121212"
        red "#121212"
        green "#d7af87"
        yellow "#d7af87"
        blue "#84afd7"
        magenta "#fd6389"
        orange "#d7af87"
        cyan "#7cdce7"
        black "#121212"
        white "#ffffff"
    }
}

// Choose the theme that is specified in the themes section.
theme "sobrio"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
// default_mode "locked"

// Toggle enabling the mouse mode.
mouse_mode true

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
mirror_session true


show_startup_tips false

ui {
    pane_frames {
        hide_session_name true
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
    about location="zellij:about"
}
